#version: "3.9"

services:

  #  postgres:
  #    image: postgres:16
  #    container_name: postgres
  #    environment:
  #      POSTGRES_DB: postgres
  #      POSTGRES_USER: postgres
  #      POSTGRES_PASSWORD: mysecretpassword
  #    ports:
  #      - "5432:5432"
  #    volumes:
  #      - postgres_data:/var/lib/postgresql/data
  #
  #  redis:
  #    image: redis:7
  #    container_name: redis
  #    command: redis-server --requirepass P@ssw0rd
  #    ports:
  #      - "6379:6379"

  app:
    build: .
    container_name: discount-service
    ports:
      - "8888:8888"
    #    depends_on:
    #      - postgres
    #      - redis
    environment:
      SPRING_PROFILES_ACTIVE: docker

      SPRING_DATASOURCE_URL: jdbc:postgresql://host.docker.internal:5432/postgres
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: mysecretpassword

      SPRING_REDIS_HOST: host.docker.internal
      SPRING_REDIS_PORT: 6379
      SPRING_REDIS_PASSWORD: P@ssw0rd
      SPRING_REDIS_USERNAME: default

      SERVER_PORT: 8888

volumes:
  postgres_data: