server:
  port: 8888

spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://host.docker.internal:5432/postgres
    username: postgres
    password: mysecretpassword

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    open-in-view: false

  liquibase:
    enabled: true
    change-log: classpath:/db/changelog/changelog-master.xml

  cache:
    type: redis

  data:
    redis:
      host: host.docker.internal
      port: 6379
      username: default
      password: P@ssw0rd
      lettuce:
        protocol: RESP2

management:
  endpoints:
    metrics:
      enabled: true
    web:
      exposure:
        include: "*"
